argcomplete==2.0.0
asgiref==3.5.2
astroid==2.12.12
bcrypt==3.2.2
Beaker==1.10.0
beautifulsoup4==4.11.0
black==22.10.0
blivet==3.4.4
blivet-gui==2.3.0
Brlapi==0.8.4
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.11
click==8.0.4
colorama==0.4.6
cryptography==36.0.0
cssbeautifier==1.14.7
cupshelpers==1.0
dasbus==1.6
dbus-python==1.2.18
dill==0.3.6
distro==1.6.0
Django==4.1.2
djlint==1.19.3
dnspython==2.2.1
EditorConfig==0.12.3
fb-re2==1.0.7
fedora-third-party==0.10
Flask==2.2.2
fonttools==4.38.0
fros==1.1
gpg==1.17.0
html-tag-names==0.1.2
html-void-elements==0.1.0
humanize==3.13.1
idna==3.3
importlib-metadata==5.0.0
isort==5.10.1
itsdangerous==2.1.2
jaraco.classes==3.2.1
jeepney==0.7.1
Jinja2==3.1.2
jsbeautifier==1.14.7
keyring==23.9.3
langtable==0.0.60
lazy-object-proxy==1.8.0
libcomps==0.1.18
lxml==4.7.1
Mako==1.1.4
MarkupSafe==2.1.1
mccabe==0.7.0
mercurial==6.1.4
meson==0.62.2
more-itertools==8.12.0
mypy-extensions==0.4.3
nftables==0.1
numpy==1.22.0
olefile==0.46
opentype-feature-freezer==1.32.2
packaging==21.3
Paste==3.5.0
pathspec==0.10.1
pexpect==4.8.0
pid==2.2.3
Pillow==9.1.0
platformdirs==2.5.2
ply==3.11
productmd==1.33
proton-client==0.7.1
protonvpn-cli==3.13.0
protonvpn-gui==1.12.0
protonvpn-nm-lib==3.14.0
psutil==5.8.0
ptyprocess==0.6.0
pwquality==1.4.4
pycairo==1.21.0
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.45.1
pyenchant==3.2.2
PyGObject==3.42.1
pykickstart==3.36
pylint==2.15.5
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyparted==3.12.0
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.1
python-gnupg==0.5.0
python-meh==0.50
pythondialog==3.5.3
pyudev==0.22.0
pyxdg==0.27
PyYAML==6.0
ranger-fm==1.9.3
regex==2022.9.13
requests==2.27.1
requests-file==1.5.1
requests-ftp==0.3.1
rpm==4.17.1
SecretStorage==3.3.1
selinux==3.3
sepolicy==3.3
setools==4.4.0
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sos==4.3
soupsieve==2.3.1
sqlparse==0.4.3
systemd-python==234
Tempita==0.5.2
tomli==2.0.1
tomlkit==0.11.6
tqdm==4.64.1
urllib3==1.26.12
Werkzeug==2.2.2
wrapt==1.14.1
zipp==3.10.0
